<nav [attr.aria-label]="'NAV.ARIA' | translate">
  <button (click)="scrollTo('carta')">{{ 'NAV.LETTER' | translate }}</button>
  <button (click)="scrollTo('momentos')">{{ 'NAV.MEMORIES' | translate }}</button>
  <button (click)="scrollTo('razones')">{{ 'NAV.REASONS' | translate }}</button>
  <button (click)="scrollTo('historia')">{{ 'NAV.STORY' | translate }}</button>
</nav>

<app-love-letter (continued)="scrollTo('momentos')" />
<app-memory-gallery />
<app-reasons-i-love-you />
<app-relationship-timeline />
<app-final-message (reread)="scrollTo('carta')" />
