<section class="section timeline-section" id="historia">
  <header>
    <span>{{ 'TIMELINE.EYEBROW' | translate }}</span>
    <h2>{{ 'TIMELINE.TITLE' | translate }}</h2>
  </header>
  <div class="timeline">
    @for (event of config.timeline; track event.title; let index = $index) {
      <article>
        <div class="dot">{{ index + 1 }}</div>
        <div>
          <small>{{ event.date | translate }}</small>
          <h3>{{ event.title | translate }}</h3>
          <p>{{ event.description | translate }}</p>

          @if (event.description2) {
            <p>{{ event.description2 | translate }}</p>
          }

          @if (event.description3) {
            <p>{{ event.description3 | translate }}</p>
          }

          @if (event.description4) {
            <p>{{ event.description4 | translate }}</p>
          }

          @if (event.description5) {
            <p>{{ event.description5 | translate }}</p>
          }

        </div>
      </article>
    }
  </div>
</section>
